<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trash Sorter</title>
    <style> 
        body {
            background:linear-gradient(180deg, rgba(254,255,234,1) 14%, rgba(248,255,231,1) 48%, rgba(235,248,255,1) 73%)!important;
        }
    </style>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="container">
    <div class="title">Traschly Model</div>
    <form action="/takeImage" method="POST" enctype="multipart/form-data">
        <label for="image">Select an image:</label>
        <input type="file" name="image" id="image" accept="image/*" required>
        <button class="raise" type="submit">Upload</button>
    </form>
</div>
<div class="container1" >
    <div class="title">Trash Sorting Quiz Game</div>
        <h4>Let's play games to learn about trash sorting!</h4>
        <form action="/quiz" >
            <button class="raise" type="submit">Play Quiz Game !</button>
        </form>
</div>
<div class="container1" >
    <div class="title">Trash Category Guide</div>
    <h4>Learn about all trash categories in our model.</h4>
    <form action="/guide" >
        <button class="raise" type="submit">Let's Learn!</button>
    </form>
</div>
</body>
</html>